build/**/*.*
build/
WEB-INF/clipreport4/temp/
WEB-INF/clipreport4/License.properties
WEB-INF/clipreport4/License*
bootstrap.css
bootstrap.js
bootstrap.json
Readme.md
resources/downloads/ChromeStandaloneSetup.exe
resources/saveImgTemp/
.vscode/