
		.gcwrap { display:table-cell; width:20%; vertical-align:middle;}
		.z_name { line-height:12px; vertical-align:middle; display:table-cell; width:80%;}

		.c_tab { margin-bottom:5px; }
		.c_tabwrap:after, .c_tab:after, .c_tab_cont:after, .c_tab_contbox> ul:after { content:""; display:block; clear:both; }
		.c_tab li { float: left; text-align:center; cursor: pointer; border-left:2px solid #fff; }
		.c_tab li a {         color: #000;
			font-size: 13px;
			letter-spacing: 0px !important;
			background: #e2e2e2;
			display: inline-block;
			padding: 3px 25px;		
		    font-weight: normal; } 
		.c_tab li:first-child { border-left:none !important; }
		.c_tab li a.active {  background:#065381;  color:#fff;  font-weight: bold;}

		#chartUl { margin-top:10px; }
		#chartUl> li {
			padding:0 20px 0 5px;
			height:30px;
			font-size:11px;
			font-family:Dotum, "돋움";
			background:url(../images/button/on_close2.png) no-repeat right 5px center #e9e9e9;
			cursor:pointer;
			display:inline-table;
			float: left;
			margin-right: 3px;
		}
		.gc{
		width: 12px;
			height: 5px;
			display: inline-block;
			margin-right: 3px;
		}
		.z_name {
			line-height: 12px;
			vertical-align: middle;
			display: table-cell;
			width: 80%;
		}


		.division ul li img { vertical-align:sub; margin-right:2px; }
		.gc { width:12px; height:5px; display:inline-block; margin-right:3px; }
		.g_c1 { background:#d3144c;}
		.g_c2 { background:#02568e;}
		.g_c3 { background:#f7941d;}
		.g_c4 { background:#10a700;}
		.g_c5 { background:#92278f;}


		.con_right rs,  .c_tab, #krfHighChartDiv, #chartUl{
			padding-top: 10px;
		}

		#siteNameLabel{
			padding: 10px 0px 8px 20px;
			font-size: 13px;
			letter-spacing: -1px;
			background: url(../images/button/blit.gif) 10px no-repeat;
			font-weight: bold;
			font-family: 돋움;
		}
		
		.con_right{
		   padding: 5px 10px;
		}
		
		.con_right > select{
			width: 70px;
			height: 22px;
		}

		#highChartSelectItem{
			padding: 10px 10px;
		}

		#chartUl{
			padding: 0px 15px;
		}


		.imageRow > .imageColumn {
			padding: 0 8px;
		  }
		  
		  .imageRow:after {
			content: "";
			display: table;
			clear: both;
		  }
		  
		  .imageColumn {
			float: left;
			width: 7%;
		  }
		  
		  /* The Modal (background) */
		  .imageModal {
			display: none;
			position: fixed;
			z-index: 100000;
			padding-top: 50px;
			left: 25%;
			top: 0;
			width: 50%;
			height: 100%;
			overflow: auto;
			background-color: black;
		  }
		  
		  /* Modal Content */
		  .imageModal-content {
			position: relative;
			background-color: #fefefe;
			margin: auto;
			padding: 0;
			width: 90%;
			max-width: 1200px;
		  }
		  
		  /* The Close Button */
		  .imageClose {
			color: white;
			position: absolute;
			top: 10px;
			right: 25px;
			font-size: 35px;
			font-weight: bold;
		  }
		  
		  .imageClose:hover,
		  .imageClose:focus {
			color: #999;
			text-decoration: none;
			cursor: pointer;
		  }
		  
		  .imageMySlides {
			display: none;
		  }
		  
		  .imageCursor {
			cursor: pointer;
		  }
		  
		  /* Next & previous buttons */
		  .imagePrev,
		  .imageNext {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			padding: 16px;
			margin-top: -50px;
			color: white;
			font-weight: bold;
			font-size: 20px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
			user-select: none;
			-webkit-user-select: none;
		  }
		  
		  /* Position the "next button" to the right */
		  .imageNext {
			right: 0;
			border-radius: 3px 0 0 3px;
		  }
		  
		  /* On hover, add a black background color with a little bit see-through */
		  .imagePrev:hover,
		  .imageNext:hover {
			background-color: rgba(0, 0, 0, 0.8);
		  }
		  
		  /* Number text (1/3 etc) */
		  .imageNumbertext {
			color: #ffffff;
			font-size: 20px;
			padding: 8px 12px;
			position: absolute;
			top: 0;
			background: black;
			opacity: 0.7;
		  }
		  
		  .imageCaption-container {
			text-align: center;
			background-color: black;
			padding: 2px 16px;
			color: white;
		  }
		  
		  .imageDemo {
			opacity: 0.6;
		  }
		  
		  .imageActive,
		  .imageDemo:hover {
			opacity: 1;
		  }
		  		  
		  .imageHover-shadow:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		  }

		  .imageView {
			margin-bottom: -4px;
		  }

		  .imageView.imageHover-shadow {
			transition: 0.3s;
		  }