.layerNoneImg {
	background-image: url('') !important;
	width: 0px !important;
	height: 22px !important;
}

.layerIconSize {
	width: 22px !important;
	height: 22px !important;
}

.layer1 {
	background-image: url(../images/symbol/symbol_1_1.gif) !important;
}

.layer2 {
	background-image: url(../images/symbol/symbol_1_2.gif) !important;
}

.layer3 {
	background-image: url(../images/symbol/symbol_1_3.gif) !important;
}

.layer4 {
	background-image: url(../images/symbol/symbol_1_4.gif) !important;
}

.layer5 {
	background-image: url(../images/symbol/symbol_1_5.gif) !important;
}

.layer6 {
	background-image: url(../images/symbol/symbol_1_6.gif) !important;
}

.layer7 {
	background-image: url(../images/symbol/symbol_1_7.gif) !important;
}

.layer9 {
	background-image: url(../images/symbol/symbol_2_1.gif) !important;
}

.layer10 {
	background-image: url(../images/symbol/symbol_2_2.gif) !important;
}

.layer11 {
	background-image: url(../images/symbol/symbol_2_3.gif) !important;
}

.layer13 {
	background-image: url(../images/symbol/symbol_3_1.gif) !important;
}

.layer13_2 {
	background-image: url(../images/symbol/symbol_3_2.gif) !important;
}

.layer13_3 {
	background-image: url(../images/symbol/symbol_3_3.gif) !important;
}

.layer15 {
	background-image: url(../images/symbol/symbol_6_1.gif) !important;
}

.layer16 {
	background-image: url(../images/symbol/symbol_6_2.gif) !important;
}

.layer17 {
	background-image: url(../images/symbol/symbol_6_3.gif) !important;
}

.layer18 {
	background-image: url(../images/symbol/symbol_6_4.gif) !important;
}

.layer19 {
	background-image: url(../images/symbol/symbol_6_5.gif) !important;
}

.layer20 {
	background-image: url(../images/symbol/symbol_6_6.gif) !important;
}

.layer21 {
	background-image: url(../images/symbol/symbol_6_7.gif) !important;
}

.layer23 {
	background-image: url(../images/symbol/symbol_7_1.gif) !important;
}

.layer25 {
	background-image: url(../images/symbol/symbol_4_1.gif) !important;
}

.layer26 {
	background-image: url(../images/symbol/symbol_4_2.gif) !important;
}

.layer27 {
	background-image: url(../images/symbol/symbol_4_3.gif) !important;
}

.layer28 {
	background-image: url(../images/symbol/symbol_4_4.gif) !important;
}

.layer29 {
	background-image: url(../images/symbol/symbol_4_5.gif) !important;
}

.layer30 {
	background-image: url(../images/symbol/symbol_4_6.gif) !important;
}

.layer31 {
	background-image: url(../images/symbol/symbol_4_7.gif) !important;
}

.layer32 {
	background-image: url(../images/symbol/symbol_4_8.gif) !important;
}

.layer34 {
	background-image: url(../images/symbol/symbol_9_1.gif) !important;
}

.layer35 {
	background-image: url(../images/symbol/symbol_9_2.gif) !important;
}

.layer36 {
	background-image: url(../images/symbol/symbol_9_3.gif) !important;
}

.layer37 {
	background-image: url(../images/symbol/symbol_9_4.gif) !important;
}

.layer38 {
	background-image: url(../images/symbol/symbol_9_5.gif) !important;
}

.layer39 {
	background-image: url(../images/symbol/symbol_9_6.gif) !important;
}

.layer40 {
	background-image: url(../images/symbol/symbol_9_7.gif) !important;
}

.layer42 {
	background-image: url(../images/symbol/symbol_33_1.gif) !important;
}

.layer46 {
	background-image: url(../images/symbol/symbol_5_2.png) !important;
}

.layer47 {
	background-image: url(../images/symbol/symbol_5_3.gif) !important;
}

.layer48 {
	background-image: url(../images/symbol/symbol_5_1.gif) !important;
}

.layer49 {
	background-image: url(../images/symbol/symbol_flow.png) !important;
}

.layer50 {
	background-image: url(../images/symbol/symbol_10_1.gif) !important;
}

.layer51 {
	background-image: url(../images/symbol/symbol_10_2.gif) !important;
}

.layer54 {
	background-image: url(../images/symbol/symbol_11_1.gif) !important;
}

.layer55 {
	background-image: url(../images/symbol/symbol_11_2.gif) !important;
}

.layer56 {
	background-image: url(../images/symbol/symbol_11_3.gif) !important;
}

.layer58 {
	background-image: url(../images/symbol/symbol_12_1.gif) !important;
}

.layer59 {
	background-image: url(../images/symbol/symbol_12_2.gif) !important;
}

.layer60 {
	background-image: url(../images/symbol/symbol_12_3.gif) !important;
}

.layer61 {
	background-image: url(../images/symbol/symbol_12_4.gif) !important;
}

.layer63 {
	background-image: url(../images/symbol/symbol_13_1.gif) !important;
}

.layer65 {
	background-image: url(../images/symbol/symbol_14_1.gif) !important;
}

.layer71 {
	background-image: url(../images/symbol/symbol_17_1.gif) !important;
}

.layer72 {
	background-image: url(../images/symbol/symbol_17_2.gif) !important;
}

.layer73 {
	background-image: url(../images/symbol/symbol_17_3.gif) !important;
}

.layer74 {
	background-image: url(../images/symbol/symbol_17_4.gif) !important;
}

.layer75 {
	background-image: url(../images/symbol/symbol_17_5.gif) !important;
}

.layer76 {
	background-image: url(../images/symbol/symbol_17_6.gif) !important;
}

.layer77 {
	background-image: url(../images/symbol/symbol_18_1.gif) !important;
}

.layer78 {
	background-image: url(../images/symbol/symbol_18_2.gif) !important;
}

.layer80 {
	background-image: url(../images/symbol/symbol_19_1.gif) !important;
}

.layer81 {
	background-image: url(../images/symbol/symbol_21_1.gif) !important;
}

.layer82 {
	background-image: url(../images/symbol/symbol_21_2.gif) !important;
}

.layer83 {
	background-image: url(../images/symbol/symbol_21_3.gif) !important;
}

